@media (max-width:376px) {
    .calculator {
        padding-top: 5px;
        width: 77vw;
        border-radius: 20px 20px 100px;
    }

    .entries {
        width: 100%;
        gap: 4px;
        margin: 25px 0px 28px 7px;
    }

    .card div:first-child {
        font-size: 11px;
        font-weight: 900;
    }

    input {
        width: 90%;
        height: 40px;
        border-radius: 6px;
    }

    .separator {
        flex-direction: column;
        margin-bottom: 25px;
    }

    .line {
        width: 75vw;
        margin-top: 22px;
    }

    .ico {
        width: 50px;
        height: 50px;
        position: relative;
        right: -40%;
        top: -25px;
    }

    .result{
        width: 300px;
    }

    p {
        margin: -17px 0px -10px 7px;
    }

    span {
        letter-spacing: 0px;
        margin-right: 10px;
    }

    .result p:last-child {
        margin-bottom: 17px;
    }
}